.cabecalho{
    background-color: white;
    width: 600px;
    padding: 10px;
    color: black;
    text-align: left;
    font-size: 20px;
}
.conteudo{
    background-color: beige;
    width: auto;
    padding: 30px;
    color: black;
    text-align: center;
    font-size: 20px;
    font-family: Georgia;
}
.rodape{
    background-color: bisque;
    width: auto;
    padding: 10px;
    color: cadetblue;
    text-align: center;
    font-size: 20px;
}